.postField{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}
.field__buttons{
    display: flex;
    justify-content: space-evenly;
}
.input__field{
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 25px;
    background-color: white;
    width: 90%;
}
.input__field > form{
    display: flex;
    width: 100%;
    align-items: center;
}
.input__field > form > input{
    border: none;
    outline: none;
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
.input__field > form > button{
    display: none;
}